<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Business Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link th:href="@{/css/boot-min.css}" rel="stylesheet"/>
    <link th:href="@{/css/boot-icons.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container py-4">
    <main>
        <div class="p-3 mb-4 bg-light rounded-3">
            <div class="container-fluid py-2">
                <h1 class="display-5 fw-bold">Business Rules</h1>
            </div>
        </div>
        <div class="about pull-right">
            <p class="about-links">
                <a th:href="@{/rulesForm}">Add a Rule</a>
            </p>
        </div>
        <div th:switch="${businessRules}">
            <h2 th:case="null">No Rules Yet!!</h2>
            <div th:case="*">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Rule Name</th>
                        <th>Rule Type</th>
                        <th>Priority</th>
                        <th>Active (Yes/No)</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="businessRule : ${businessRules}">
                        <td><a th:href="@{/showAttributes(ruleId=${businessRule.id})}"><div th:text="${businessRule.ruleName}"></div></a></td>
                        <td th:text="${businessRule.ruleType}"></td>
                        <td th:text="${businessRule.priority}"></td>
                        <td th:if="${businessRule.active} == true"><p><i class="bi bi-check-circle-fill"></i></p> </td>
                        <td th:if="${businessRule.active} == false"><p><i class="bi bi-x-circle"></i></p> </td>
                        <td th:text="${businessRule.description}"></td>
                        <td><a th:href="@{/editRule/{id}(id=${businessRule.id})}" type="button"><i class="bi bi-pencil"></i></a></td>
                        <!--<td><a th:href="@{/delete/{id}(id=${businessRule.id})}" type="button" class="btn-danger"><i class="bi bi-x"></i></a></td>-->
                        <td>
                            <form action="#" th:action="@{/deleteRule}" th:object="${businessRule}" method="post">
                                <input type="hidden" th:value="${businessRule.id}" name="id"/>
                                <button type="submit" name="delete" class="btn-link btn-danger"><i class="bi bi-x"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<script th:src="@{/js/boot-bundle.js}"></script>
</body>
</html>